.return-deescription {
    margin: 10px;
    height: 18.88px;
    width: auto;
}

.arrow-left-deescription a {
    color: #5e5e5e!important;
}

.return-deescription span {
    color: #000000!important;
    font-family: IBM Plex Sans!important;
    font-size: 20px;
    margin-left: 16px;
}

.title-description span {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: IBM Plex Sans;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: groove #5e5e5e
}

.description-form {
    padding: 10px;
    font-family: IBM Plex Sans!important;
}

.description-control {
    width: 100%;
    height: 200px;
}

.assign-to {
    margin: 0px 0px 20px 20px;
}

.assign-to h2 {
    margin-bottom: 20px;
}

.assign-to a .fa-user-circle::before {
    font-size: 30px;
    color: #5e5e5e;
    opacity: 0.8;
}

.assign-to a .fa-user-plus::before {
    font-size: 15px;
    color: #5e5e5e;
    opacity: 0.5;
    margin-left: 5px;
}

.due-date {
    margin: 0px 0px 20px 20px;
}
