#calendar .fc-scrollgrid-sync-table a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

#calendar .fc-col-header-cell-cushion {
    color: black;
    text-decoration: none;
}

#calendar {
    margin: 13px;
}

.navbar-brand .fas,
.fa-home::before {
    font-size: 25px;
    position: relative;
    top: 1px;
}

.return-deescription span {
    color: #5e5e5e!important;
    font-family: IBM Plex Sans!important;
    font-size: 20px;
    margin-left: 16px;
}

.title-description span {
    width: 375px;
    font-weight: bold;
    margin: 5px;
    display: flex;
    justify-content: center!important;
    font-family: IBM Plex Sans!important;
    border-bottom: groove #5e5e5e!important;
}

.description-form {
    padding-left: 15px!important;
    font-family: IBM Plex Sans!important;
}

.media {
    display: flex;
    margin: 13px;
    background: linear-gradient( 90deg, #dadada, transparent);
    height: 85px;
    border-radius: 20px;
}

.media .h-status {
    align-items: center;
    display: flex;
    margin: 0px 10px 0px 20px;
}

.media-body {
    margin: 20px;
    width: 100%;
}

.assigned-to {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.fa-user-circle::before {
    font-size: 23px;
    padding-left: 5px;
    height: 10px;
    width: 50px;
    opacity: 0.8;
}

.btn-primary {
    font-size: 20px;
    border-radius: 50px;
    position: relative;
    bottom: 10px;
    background-color: rgb(100, 110, 255);
    border: 0;
}

.d-flex {
    margin-top: 20px;
}
