
/*--Description page--*/

.description{
    background-color: #EFF3F4;
}

.return-deescription{
    margin-left: 8px;
    height: 18.88px;
    width: auto;
}

.arrow-left-deescription a{
    color:#5e5e5e!important;
}

.return-deescription span{
    color: #5e5e5e!important;
    font-family: IBM Plex Sans!important;
    font-size: 20px;
    margin-left: 16px;
}

.title-description span{
    width: 375px;
    font-weight: bold;
    display: flex;
    justify-content: center!important;
    font-family: IBM Plex Sans!important;
    border-bottom: groove #5e5e5e!important;
}

.description-form {
    padding-left: 15px!important;
    font-family: IBM Plex Sans!important;
}

.assign-to{
    width: 375px!important;
    height: 100px!important;   
}

.assign-to a .fa-user-circle::before {
    font-size: 80px!important;
    color:#5e5e5e;
}

.assign-to a .fa-user-plus::before {
    font-size: 50px!important;
    color:#5e5e5e;
    opacity: 0.24;
    margin-left: 10px;   
}

.btn-primary {
    font-size: 20px;
    border-radius: 50px;
    position: relative;
    bottom: 10px;
    background-color:tomato;
}
